*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
env/
venv/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/
anaconda_projects
